body 
{
	background-image: url(image/sky.jpg);
  margin: 0;
  padding: 0 20px 60px 20px;
}
header
{
  font-size: 20px;
  font-family: Georgia;
  text-align: center;
  padding: 10px;
  color: yellow;
  text-shadow: 2px 2px 4px #7A55CC;
}
.content-box
{
  background-color: white;
  width: 80%;
  margin: auto auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}
ul 
{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  top: 0;
}

ul li 
{
  float: right;
}

ul li a 
{
  display: inline-block;
  color: yellow;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 15px;
}

ul li a:hover
{
  background-color: lightgoldenrodyellow;
  color: #7A55CC;
}